.sectionTitle :global(.ant-typography) {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
  .sectionTitle :global(.ant-typography) {
    font-size: 22px;
    line-height: 28.6px;
  }
}

@media (min-width: 1024px) {
  .sectionTitle :global(.ant-typography) {
    line-height: 29.92px;
  }
}

.sectionPara :global(.ant-typography) {
  font-size: 16px;
  line-height: 26.08px;
  margin-bottom: 2.4rem;
  font-weight: 400;
}
